.file-block{
	text-align: center;
	width: 100%;
	height: 170px;
	border: 1px solid #eaedf1;
	margin-bottom: 15px;
	transition: border-color .35s ease-out, opacity .35s ease-out;

	.file-options{
		position: absolute;
		opacity: 0;
		margin-top: 10px;
		width: 80%;
		line-height: 20px;
		font-size: 18px;
		text-align: right;

		.fa-search{
			// color: #27ae60;
		}

		.fa-trash{
			color: #e74c3c;
		}
	}

	.file-icon{
		margin-top: 30px;
		font-size: 50px;
	}

	// for images, use image-thumbnail instead of icon
	.file-image-thumbnail{
		margin: 30px auto 6px auto;
		width: 65px;
		height: 65px;
		background-size: cover;
		background-position: center center;
	}

	.file-details{
		padding: 0px 20px 0px 20px;
		overflow: hidden;
	}
}

.file-block:hover{
	border-color: #777;

	.file-options{
		opacity: 1;
	}
}

// used if we want the entire file block to be an image
// used in docutive.
.file-block.image-block{
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	// background-color: #585858;
}