$('#resources-grid-container').empty().append("<%= escape_javascript render(:partial => '/mt_resources/resources/grid') %>")

<%# update and create go through this, hide the modal if its open %>
// $('#resourceModal').modal('hide');
