<% if @resources.count > 0 %>
	<div class="row">
		<% @resources.each do |resource| %>
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
				<div class="file-block">
					<div class="file-options">
						<%= link_to "<i class='fa fa-search'></i>".html_safe, resource.resource_file.url, target: "_blank" %> 
						<%= link_to "<i class='fa fa-trash'></i>".html_safe, resource, method: :delete, data: {confirm: "Confirm delete?"} %>
					</div>
					<% if resource.resource_type == "image" %>
						<div class="file-image-thumbnail" style="<%= "background-image: url('#{resource.resource_file.url}');"%>"></div>
					<% else %>	
						<div class="file-icon">
							<%= file_icon(resource.resource_type).html_safe %>
						</div>
					<% end %>
					<div class="file-details">
						<%= resource.title %><br/>
						<%= file_size resource.file_size %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% else %>
	<div data-alert class="alert alert-info up-10">
		<p>You do not have any files in your library.</p>
	</div>
<% end %>
