<div class="panel panel-modern">
	<div class="panel-heading">
		<h3 class="panel-title">Upload new file</h3>
	</div>

	<div class="panel-body">
		<div id="upload-file-dropzone" class="file-dropzone-modern">
			<p>Drop files here to upload<br/>or<br/>
			<a href="javascript:void(0)" class="btn btn-default btn-sm" id="select-file-button">Select files</a>
			</p>
		</div>
		<div class="resource-file-progress-container up-10">
		</div>
	</div>
</div>

<div class="hidden">
	<%= simple_form_for @resource, html: {id: "new-resource", :data => {:'allowed-type' => MtResources.mt_resources_allowed_extensions}} do |f| %>
		<%= f.input :resource_file, as: :file, input_html: {multiple: true, name: "resource[resource_file]", id: "resource-file-input"} %>
	<% end %>
</div>


<script id="template-upload" type="text/x-tmpl">
	<div class="upload">
		{%=o.name%}
		<div class="progress">
			<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				60%
			</div>
		</div>
	</div>
</script>