<% content_for :page_title do %>
	<%= link_to 'Library', resources_path, class: 'navbar-brand' %>
<% end %>

<% content_for :subnav_section do %>
	<ol class="breadcrumb breadcrumb-modern">
		<li><%= link_to 'Library', resources_path %></li>
		<li class="active">All</li>
	</ol>
<% end %>

<% content_for :subnav do %>
	<nav class="navbar navbar-subnav">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <ol class="breadcrumb navbar-subnav-breadcrumb left-15 visible-xs-block">
			  <li><%= link_to "Library", mt_resources.resources_path %></li>
		  </ol>
	      <ol class="breadcrumb navbar-subnav-breadcrumb hidden-xs">
			  <li><%= link_to "Library", mt_resources.resources_path %></li>
		  </ol>
	    </div>
	  </div><!-- /.container-fluid -->
	</nav>
<% end %>


<div class="row">
	<div class="col-md-3">
		<%= render "upload_form" %>
	</div>
	<div class="col-md-9">
		<div class="panel panel-modern">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-4">
						<h3 class="panel-title">Library</h3>
					</div>
					<div class="col-sm-8">
						<div class="text-sm-right">
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div id="resources-grid-container">
					<%= render "grid" %>
				</div>
			</div>
		</div>
	</div>
</div>